.bg-signature{
    background-color: orange;
}
.text-color-signature{
    color: orange;
}
.bg-lightgoldenrodyellow{
    background-color: lightgoldenrodyellow;
}
.bg-yellow{
    background-color: yellow;
}
.bg-lightsalmon{
    background-color: lightsalmon;
}